<section class="container">
    <div class = "post">
        <h3>Post #<%= @user.posts.index(@post) + 1 %>
            by
            <%= @user.name %>
        </h3>
        
        <%= render partial: "partials/counter", locals: { post: @post } %>
        
        <p><%= @post.text %></p>
        
        <%= render partial: "partials/comments", locals: { post: @post } %>
    </div>

    <div class ="like-comment">
        <%= link_to new_user_post_comment_url(@user, @post), class: 'btn-link' do %>
        <button>Add comment</button>
        <% end %>
    </div>
</section>
